* {
    box-sizing: border-box;
    /* wireframing border can be turned on/off */
    border: solid red 1px;
    padding: 0;
    margin: 0;
}

header,
main,
footer {
    padding: 16px;
}

main {
    min-height: 80vh;
}